# Secrets
.env

# Dependencies
node_modules/
services/video-engine/node_modules/

# Temporary Build Files & Output
services/render-engine/output/
services/video-engine/out/
services/video-engine/build/